body
{
background-image:("C:\Users\EEE\Desktop\lucky4.jpg");
background-color:aquamarine;
background-size:cover;
background-position:center;
font-family:sans-serif;
box-sizing:border-box;
}
table
{
width:100%;
background-color:black;
text-align:center;
padding:20px;
}
h1
{
text-align:center;
}
image
{
margin-left:500px;
margin-right:500px;
}